body {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

h1,
h2 {
  margin-bottom: 3px;
}

h5 {
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0 auto;
}

form {
  box-shadow: 2px 5px 8px rgba(37, 39, 90, 0.1);
  color: #0e2645;
  margin-top: 15px;
}

button {
  box-shadow: 2px 5px 8px rgba(37, 39, 90, 0.1);
  color: #0e2645;
  margin-top: 18px;
  padding: 5px 10px;
}

img {
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 30px auto;
  max-width: 700px;
}

.weather-app {
  background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);
  border: 1px solid #8db1d3;
  border-radius: 5px;
  padding: 20px;
}

.weather-app small {
  display: block;
  margin-top: 0;
}

.header {
  color: #8db1d3;
}

.button {
  background: #e9ecef;
  border: 1px solid #ced4db;
  border-radius: 4px;
}

#city {
  text-transform: uppercase;
}

#description {
  text-transform: capitalize;
}

#units {
  font-size: 14px;
  position: relative;
  top: -12px;
  left: -2px;
}

#current-location {
  margin-top: 40px;
}

#conditions {
  color: #8db1d3;  
  margin-top: 50px;
}

#hourly-forecast {
  color: #0e2645;
  margin-top: 20px;
}

#hourly-forecast img {
  width: 100%;
}

#bottom-links {
  display: block;
  margin: 20px auto;
}
